<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
         bootstrap="tests/bootstrap.php"
        >
    <testsuites>
        <testsuite name="Report">
            <file>./tests/Analysis/ReportTest.php</file>
        </testsuite>
    </testsuites>

    <php>
        <var name="TEST_URL" value="http://www.google.com/doodles/about" />
    </php>

</phpunit>